@font-face {
  font-family: "Inter";
  src: url("/shifu-admin/static/fonts/Inter-Medium.woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/shifu-admin/static/fonts/Inter-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter Display";
  src: url("/shifu-admin/static/fonts/InterDisplay-Medium.woff2");
  font-weight: 500;
  font-display: swap;
}
