@import "vars";

.shifu-tabs {
    &-header {
        display: inline-flex;
        background: var(--border-inner);
        border-radius: 4px;
        font-size: 10px;
        user-select: none;

        &-tab {
            padding: 1px 4px 2px 4px;
            cursor: pointer;
            text-transform: uppercase;

            &:hover, &-active {
                background: var(--highlight);
                color: var(--bg);
            }

            &:first-of-type {
                border-radius: 4px 0 0 4px;
            }

            &:last-of-type {
                border-radius: 0 4px 4px 0;
            }
        }
    }
}
