:root {
    --bg: #05080d;
    --bg90: rgba(5, 8, 13, 0.9);
    --text: #f5f9ff;
    --submit: rgba(183, 224, 230, 0.2);
    --border: #b7e0e6;
    --border70: rgba(183, 224, 230, 0.7);
    --border5: rgba(183, 224, 230, 0.05);
    --border-inner: #2f3942;
    --highlight: #f4e669;
}
