@import "fonts";

html.shifu {
    font-family: "Inter", "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body.shifu {
    margin: 0;
    padding: 0;
    font-size: 12px;
    min-height: 100vh;
    background: #b3cde6;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shifu {
    font-size: 12px;

    *,
    *::before,
    *::after {
        font-family: inherit;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
    }

    &-box, &-window {
        background: #fff;
        border: 1px solid #000;
        box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.33);
        -webkit-box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.33);
        -moz-box-shadow: 3px 3px 6px -1px rgba(0,0,0,0.33);

        &-title {
            background: #000;
            color: #fff;
            padding: 4px;
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 64px;

            &-label {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;
                pointer-events: none;

                img {
                    width: 12px;
                    height: 12px;
                    filter: invert(100%);
                }
            }

            &-close {
                display: flex;
                align-items: center;
                height: 100%;

                img {
                    width: 16px;
                    height: 16px;
                    filter: invert(100%);
                    cursor: pointer;
                }
            }
        }

        &-content {
            padding: 4px;
            max-width: 80vw;
            max-height: 90vh;
            overflow: auto;
        }

        &-overlay {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.25);
        }
    }

    &-window {
        position: fixed;
        z-index: 999999;
        top: 5vh;
        left: 5vh;
        opacity: 0;
        animation: fadeIn 500ms forwards;

        &-title {
            cursor: grab;
            user-select: none;
        }
    }

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    hr {
        height: 1px;
        background: #000;
        margin: 16px -4px;
        border-width: 0;
    }

    fieldset {
        margin: 8px 0;
        padding: 0;
        border-width: 0;

        label {
            display: block;
            font-size: 10px;
            margin: 0 0 2px 0;
            line-height: 1;
        }
    }

    fieldset.checkbox {
        display: flex;
        align-items: center;
        gap: 4px;

        label {
            margin: 0;
        }
    }

    input, button {
        width: 100%;
        padding: 4px 8px;
        font-size: 12px;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }

    input[type~="submit"], button {
        width: auto;
        background: #000;
        color: #fff;
        font-weight: 500;
        border-width: 0;
        cursor: pointer;
        padding: 8px 16px;
        display: flex;
        gap: 8px;
        align-items: center;

        &:hover {
            background: rgba(0, 0, 0, 0.75);
        }

        img {
            width: 12px;
            height: 12px;
            filter: invert(100%);
        }
    }

    input[type~="checkbox"] {
        width: auto;
        margin: 0;
    }

    a {
        color: #000;
        opacity: 0.7;
        text-decoration: underline;

        &:hover {
            opacity: 1;
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;

        td {
            padding: 4px;
            border: 1px solid rgba(0, 0, 0, 0.5);
        }

        thead tr {
            background: #000;
            color: #fff;
        }
    }

    .error {
        color: #f00;
        font-size: 10px;
    }

    .edit {
        display: flex;
        gap: 4px;

        button {
            padding: 4px;
        }
    }

    .secondary {
        background: none;
        border: 1px solid #000;
        color: #000;

        &:hover {
            background: #000;
            color: #fff;
        }
    }

    &-toolbar {
        &-icons {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1;
            border: 1px solid rgba(0, 0, 0, 0.5);
            padding: 8px;
            cursor: pointer;

            img {
                width: 16px;
                height: 16px;
                fill: #000;
            }

            &:hover {
                background: #000;
                color: #fff;

                img {
                    filter: invert(100%);
                }
            }
        }
    }

    &-toolbelt {
        display: flex;
        gap: 4px;
        margin: 0 0 4px 0;

        button {
            padding: 4px 8px;
        }
    }
}
