{{ define "page-element-tree" }}
    {{ $language := index . "language" }}
    {{ $path := index . "path" }}
    {{ $content := index . "content" }}
    {{ $parentPath := index . "p" }}
    {{ $lang := index . "lang" }}
    {{ $pos := index . "pos" }}

    {{ range $content, $elements := $content }}
        <div>
            <small>
                {{ $posLabel := index $pos $content }}
                
                {{ if $posLabel }}
                    {{ $posLabel }}
                {{ else }}
                    {{ $content }}
                {{ end }}
            </small>
            <ul>
                {{ range $index, $element := $elements }}
                    {{ $p := fmt "%s%s.%d" $parentPath $content $index }}

                    <li>
                        <details data-entry="{{ $p }}">
                            <summary
                                {{ if $element.Ref }}
                                    class="shifu-page-tree-ref"
                                {{ else if len $element.Content }}
                                    class="shifu-page-tree-container"
                                {{ else }}
                                    class="shifu-page-tree-element"
                                {{ end }}>

                                <span>
                                    {{ if $element.DisplayName }}
                                        {{ $element.DisplayName }}
                                    {{ else if $element.Tpl }}
                                        {{ $element.Tpl }}
                                    {{ else }}
                                        {{ $element.Ref }}
                                    {{ end }}
                                </span>
                                <span>
                                    <img src="{{ config.UI.Path }}/static/icons/edit.svg"
                                         alt=""
                                         title="{{ i18n $lang "content_page_element_edit" }}"
                                         hx-get="{{ config.UI.Path }}/content/element/edit?path={{ $path }}&element={{ $p }}&language={{ $language }}"
                                         hx-target="body"
                                         hx-swap="beforeend" />

                                    {{ if len $element.Content }}
                                        <img src="{{ config.UI.Path }}/static/icons/add.svg"
                                             alt=""
                                             title="{{ i18n $lang "content_page_element_add" }}"
                                             hx-get="{{ config.UI.Path }}/content/element/add?path={{ $path }}&element={{ $p }}&language={{ $language }}"
                                             hx-target="body"
                                             hx-swap="beforeend" />
                                        <img src="{{ config.UI.Path }}/static/icons/frame-add.svg"
                                             alt=""
                                             title="{{ i18n $lang "content_page_element_add_reference" }}"
                                             hx-get="{{ config.UI.Path }}/content/reference/add?path={{ $path }}&element={{ $p }}&language={{ $language }}"
                                             hx-target="body"
                                             hx-swap="beforeend" />
                                    {{ end }}

                                    <img src="{{ config.UI.Path }}/static/icons/chevron.svg"
                                         alt=""
                                         title="{{ i18n $lang "content_page_element_move_up" }}"
                                         hx-post="{{ config.UI.Path }}/content/element/move?path={{ $path }}&element={{ $p }}&direction=up&language={{ $language }}"
                                         hx-target=".shifu-page-tree"
                                         hx-swap="innerHTML" />
                                    <img src="{{ config.UI.Path }}/static/icons/chevron.svg"
                                         alt=""
                                         title="{{ i18n $lang "content_page_element_move_down" }}"
                                         style="transform: rotate(180deg);"
                                         hx-post="{{ config.UI.Path }}/content/element/move?path={{ $path }}&element={{ $p }}&direction=down&language={{ $language }}"
                                         hx-target=".shifu-page-tree"
                                         hx-swap="innerHTML" />

                                    {{ if not $element.Ref }}
                                        <img src="{{ config.UI.Path }}/static/icons/frame.svg"
                                             alt=""
                                             title="{{ i18n $lang "content_page_element_reference" }}"
                                             hx-get="{{ config.UI.Path }}/content/element/reference?path={{ $path }}&element={{ $p }}&language={{ $language }}"
                                             hx-target="body"
                                             hx-swap="beforeend" />
                                    {{ end }}

                                    <img src="{{ config.UI.Path }}/static/icons/delete.svg"
                                         alt=""
                                         title="{{ i18n $lang "content_page_element_delete" }}"
                                         hx-get="{{ config.UI.Path }}/content/element/delete?path={{ $path }}&element={{ $p }}&language={{ $language }}"
                                         hx-target="body"
                                         hx-swap="beforeend" />
                                </span>
                            </summary>

                            {{ if len $element.Content }}
                                {{
                                    template "page-element-tree"
                                        dict "language" $language
                                            "path" $path
                                            "content" $element.Content
                                            "p" (fmt "%s." $p)
                                            "lang" $lang
                                            "pos" $pos
                                }}
                            {{ end }}
                        </details>
                    </li>
                {{ end }}
            </ul>
        </div>
    {{ end }}
{{ end }}

<div id="page-element-tree" style="margin-bottom: 8px;">
    {{
        template "page-element-tree"
            dict "language" .Data.Language
                "path" .Data.Path
                "content" .Data.Page.Content
                "p" ""
                "lang" .Data.Lang
                "pos" .Data.Positions
    }}
</div>
<div class="shifu-toolbelt" style="flex-direction: column;align-items: flex-start;">
    <button title="{{ i18n .Data.Lang "content_page_element_add" }}"
            hx-get="{{ config.UI.Path }}/content/element/add?path={{ .Data.Path }}&language={{ .Data.Language }}"
            hx-target="body"
            hx-swap="beforeend">
        <img src="{{ config.UI.Path }}/static/icons/cube.svg" alt="" />
        {{ i18n .Data.Lang "content_page_element_add" }}
    </button>
    <button title="{{ i18n .Data.Lang "content_page_reference_add" }}"
            hx-get="{{ config.UI.Path }}/content/reference/add?path={{ .Data.Path }}&language={{ .Data.Language }}"
            hx-target="body"
            hx-swap="beforeend">
        <img src="{{ config.UI.Path }}/static/icons/frame.svg" alt="" />
        {{ i18n .Data.Lang "content_page_reference_add" }}
    </button>
</div>

{{ if .Data.AddElement }}
    <template id="shifu-new-element">
        {{ .Data.AddElement }}
    </template>
{{ end }}

{{ if .Data.UpdateElement }}
    <template id="shifu-update-element">
        {{ .Data.UpdateElement }}
    </template>
{{ end }}

<script>
    (function(){
        shifuTree("page-element-tree");

        document.querySelectorAll(".shifu-page-tree img").forEach(e => {
            e.addEventListener("click", e => {
                e.preventDefault();
                e.stopPropagation();
            });
        });

        {{ if .Data.DeleteElement }}
            shifuDeleteElement("{{ .Data.DeleteElement }}");
        {{ end }}

        {{ if .Data.AddElement }}
            shifuAddElement("{{ .Data.ParentElement }}", "{{ .Data.ElementPosition }}");
        {{ end }}

        {{ if .Data.UpdateElement }}
            shifuUpdateElement("{{ .Data.ElementPosition }}");
        {{ end }}

        {{ if .Data.MoveElement }}
            shifuMoveElement("{{ .Data.MoveElement }}", "{{ .Data.ElementDirection }}");
        {{ end }}
    })();
</script>
