{{ $lang := index . "lang" }}
{{ $cfg := index . "cfg" }}
{{ $field := index . "field" }}
{{ $language := index . "language" }}
{{ $prefix := index . "prefix" }}
{{ $value := index . "value" }}

<fieldset>
    {{ if eq $cfg.Type "html" }}
        <label for="{{ $prefix }}{{ $language }}.{{ $field }}">{{ $cfg.Label }}</label>
        <input id="{{ $prefix }}{{ $language }}.{{ $field }}" type="hidden" name="{{ $prefix }}{{ $language }}.{{ $field }}" value="{{ $value }}" />
        <trix-editor input="{{ $prefix }}{{ $language }}.{{ $field }}"></trix-editor>
    {{ else if or (eq $cfg.Type "img") (eq $cfg.Type "file") }}
        {{
            template "page-element-edit-field-file.html"
            dict "lang" $lang
                "type" $cfg.Type
                "label" $cfg.Label
                "field" $field
                "language" $language
                "prefix" $prefix
                "value" $value
        }}
    {{ else if eq $cfg.Type "boolean" }}
        <input id="{{ $prefix }}{{ $language }}.{{ $field }}" type="checkbox" name="{{ $prefix }}{{ $language }}.{{ $field }}" {{ if $value }}checked{{ end }} />
        <label for="{{ $prefix }}{{ $language }}.{{ $field }}">{{ $cfg.Label }}</label>
    {{ else if eq $cfg.Type "select" }}
        <label for="{{ $prefix }}{{ $language }}.{{ $field }}">{{ $cfg.Label }}</label>
        <select id="{{ $prefix }}{{ $language }}.{{ $field }}" name="{{ $prefix }}{{ $language }}.{{ $field }}">
            {{ range $k, $v := $cfg.Options }}
                <option value="{{ $k }}">{{ $v }}</option>
            {{ end }}
        </select>
    {{ else }}
        <label for="{{ $prefix }}{{ $language }}.{{ $field }}">{{ $cfg.Label }}</label>
        <input id="{{ $prefix }}{{ $language }}.{{ $field }}" type="text" name="{{ $prefix }}{{ $language }}.{{ $field }}" value="{{ $value }}" />
    {{ end }}
</fieldset>
