{{ $template := .Data.Template }}
{{ $position := .Data.Position }}

<form method="post"
      hx-post="{{ config.UI.Path }}/content/element/add?path={{ .Data.Path }}&element={{ .Data.Element }}"
      hx-swap="outerHTML"
      hx-target=".shifu-page-tree"
      hx-target-4*="this"
      hx-on::after-request="shifuCloseWindow('#shifu-page-element-add')">
    <fieldset>
        <label for="template">Template</label>
        <select name="template" id="template">
            {{ range .Data.Templates }}
                <option value="{{ .Name }}" {{ if eq .Name $template }}selected{{ end }}>{{ .Label }}</option>
            {{ end }}
        </select>

        {{ if index .Data.Errors "template" }}
            <span class="error">{{ index .Data.Errors "template" }}</span>
        {{ end }}
    </fieldset>

    {{  if len .Data.Positions }}
        <fieldset>
            <label for="position">Position</label>
            <select name="position" id="position">
                {{ range $key, $value := .Data.Positions }}
                    <option value="{{ $key }}" {{ if eq $key $position }}selected{{ end }}>{{ $value }}</option>
                {{ end }}
            </select>

            {{ if index .Data.Errors "position" }}
                <span class="error">{{ index .Data.Errors "position" }}</span>
            {{ end }}
        </fieldset>
    {{ end }}

    <div class="shifu-toolbelt">
        <input type="submit" value="Hinzufügen" />
        <button class="secondary shifu-window-close" hx-trigger="click">
            Abbrechen
        </button>
    </div>
</form>
