{{ $field := index . "field" }}
{{ $cfg := index . "cfg" }}
{{ $langs := index . "langs" }}

{{ if $langs }}
    {{ $copy := index . "copy" }}

    <div class="shifu-tabs">
        <div class="shifu-tabs-header">
            {{ range $index, $lang := $langs }}
                <div class="shifu-tabs-header-tab {{ if eq $index 0 }}shifu-tabs-header-tab-active{{ end }}">
                    {{ $lang }}
                </div>
            {{ end }}
        </div>

        {{ range $lang := $langs }}
            <div class="shifu-tabs-content">
                <fieldset>
                    <label>{{ $cfg.Label }}</label>

                    {{ if eq $cfg.Type "html" }}
                        <input id="copy.{{ $lang }}.{{ $field }}" type="hidden" name="copy.{{ $lang }}.{{ $field }}" value="{{ index $copy (fmt "copy.%s.%s" $lang $field) }}" />
                        <trix-editor input="copy.{{ $lang }}.{{ $field }}"></trix-editor>
                    {{ else if eq $cfg.Type "img" }}
                        <!-- TODO -->
                        <p>TODO</p>
                    {{ else if eq $cfg.Type "file" }}
                        <!-- TODO -->
                        <p>TODO</p>
                    {{ else if eq $cfg.Type "boolean" }}
                        <!-- TODO -->
                        <p>TODO</p>
                    {{ else if eq $cfg.Type "select" }}
                        <!-- TODO -->
                        <p>TODO</p>
                    {{ else }}
                        <input type="text" name="copy.{{ $lang }}.{{ $field }}" value="{{ index $copy (fmt "copy.%s.%s" $lang $field) }}" />
                    {{ end }}
                </fieldset>
            </div>
        {{ end }}
    </div>
{{ else }}
    {{ $data := index . "data" }}

    <fieldset>
        <label>{{ $cfg.Label }}</label>

        {{ if eq $cfg.Type "html" }}
            <input id="data.{{ $field }}" type="hidden" name="data.{{ $field }}" value="{{ index $data (fmt "data.%s" $field) }}" />
            <trix-editor input="data.{{ $field }}"></trix-editor>
        {{ else if eq $cfg.Type "img" }}
            <!-- TODO -->
            <p>TODO</p>
        {{ else if eq $cfg.Type "file" }}
            <!-- TODO -->
            <p>TODO</p>
        {{ else if eq $cfg.Type "boolean" }}
            <!-- TODO -->
            <p>TODO</p>
        {{ else if eq $cfg.Type "select" }}
            <!-- TODO -->
            <p>TODO</p>
        {{ else }}
            <input type="text" name="data.{{ $field }}" value="{{ index $data (fmt "data.%s" $field) }}" />
        {{ end }}
    </fieldset>
{{ end }}

<script>
    (function() {
        document.querySelectorAll(".shifu-tabs").forEach(element => {
            const tabs = element.querySelectorAll(".shifu-tabs-header-tab");
            const content = element.querySelectorAll(".shifu-tabs-content");
            tabs.forEach((e, index) => {
                e.addEventListener("click", () => {
                    tabs.forEach(e => e.classList.remove("shifu-tabs-header-tab-active"));
                    e.classList.add("shifu-tabs-header-tab-active");
                    content.forEach(e => e.style.display = "none");

                    if (index < content.length) {
                        content[index].style.display = "block";
                    }
                });
            });

            if (content.length) {
                for (let i = 1; i < content.length; i++) {
                    content[i].style.display = "none";
                }
            }
        });
    })();
</script>
