{{ $type := index . "type" }}
{{ $label := index . "label" }}
{{ $field := index . "field" }}
{{ $lang := index . "lang" }}
{{ $prefix := index . "prefix" }}
{{ $value := index . "value" }}

<div id="shifu-field-{{ replace $prefix "." "-" }}{{ $lang }}-{{ $field }}">
    <label for="{{ $prefix }}{{ $lang }}.{{ $field }}">{{ $label }}</label>
    <input id="{{ $prefix }}{{ $lang }}.{{ $field }}" type="hidden" name="{{ $prefix }}{{ $lang }}.{{ $field }}" value="{{ $value }}" />

    {{ if $value }}
        {{ if eq $type "img" }}
            <figure>
                <img id="img_{{ $prefix }}{{ $lang }}.{{ $field }}"
                     src="{{ $value }}"
                     alt="{{ $label }}"
                     style="max-width: 33%;max-height: 150px;" />
                <figcaption>{{ $value }}</figcaption>
            </figure>
        {{ else }}
            <p>{{ $value }}</p>
        {{ end }}
    {{ end }}

    <div class="shifu-toolbelt" style="justify-content: flex-start;">
        {{ if eq $type "img" }}
            <button hx-get="{{ config.UI.Path }}/content/media?target=shifu-field-{{ replace $prefix "." "-" }}{{ $lang }}-{{ $field }}&type={{ $type }}&label={{ $label }}&field={{ $field }}&lang={{ $lang }}&prefix={{ $prefix }}"
                    hx-target="body"
                    hx-swap="beforeend"
                    id="select_{{ $prefix }}{{ $lang }}.{{ $field }}">
                Bild auswählen
            </button>
            <button id="clear_{{ $prefix }}{{ $lang }}.{{ $field }}">Bild entfernen</button>
        {{ else }}
            <button hx-get="{{ config.UI.Path }}/content/media?target=shifu-field-{{ replace $prefix "." "-" }}{{ $lang }}-{{ $field }}&type={{ $type }}&label={{ $label }}&field={{ $field }}&lang={{ $lang }}&prefix={{ $prefix }}"
                    hx-target="body"
                    hx-swap="beforeend"
                    id="select_{{ $prefix }}{{ $lang }}.{{ $field }}">
                Datei auswählen
            </button>
            <button id="clear_{{ $prefix }}{{ $lang }}.{{ $field }}">Datei entfernen</button>
        {{ end }}
    </div>

    <script>
        (function() {
            const field = document.getElementById("{{ $prefix }}{{ $lang }}.{{ $field }}");
            document.getElementById("clear_{{ $prefix }}{{ $lang }}.{{ $field }}").addEventListener("click", e => {
                e.preventDefault();
                e.stopPropagation();
                field.value = "";
                const img = document.getElementById("img_{{ $prefix }}{{ $lang }}.{{ $field }}");

                if (img) {
                    img.parentNode.remove();
                }
            });
        })();
    </script>
</div>
