{{ $template := .Data.Template }}
{{ $position := .Data.Position }}

<form method="post"
      hx-post="{{ config.UI.Path }}/content/element/add?path={{ .Data.Path }}&element={{ .Data.Element }}&language={{ .Data.Language }}"
      hx-swap="outerHTML"
      hx-target=".shifu-page-tree"
      hx-target-4*="this"
      data-window="#shifu-page-element-add">
    <fieldset>
        <label for="template">{{ i18n .Data.Lang "content_element_add_template" }}</label>
        <select name="template" id="template">
            {{ range .Data.Templates }}
                <option value="{{ .Name }}" {{ if eq .Name $template }}selected{{ end }}>{{ .Label }}</option>
            {{ end }}
        </select>

        {{ if index .Data.Errors "template" }}
            <span class="error">{{ i18n .Data.Lang (index .Data.Errors "template") }}</span>
        {{ end }}
    </fieldset>

    {{  if len .Data.Positions }}
        <fieldset>
            <label for="position">{{ i18n .Data.Lang "content_element_add_position" }}</label>
            <select name="position" id="position">
                {{ range $key, $value := .Data.Positions }}
                    <option value="{{ $key }}" {{ if eq $key $position }}selected{{ end }}>{{ $value.Label }}</option>
                {{ end }}
            </select>

            {{ if index .Data.Errors "position" }}
                <span class="error">{{ i18n .Data.Lang (index .Data.Errors "position") }}</span>
            {{ end }}
        </fieldset>
    {{ end }}

    <div class="shifu-toolbelt">
        <input type="submit" value="{{ i18n .Data.Lang "content_element_add_submit" }}" />
        <button class="secondary shifu-window-close" hx-trigger="click">
            {{ i18n .Data.Lang "cancel" }}
        </button>
    </div>
</form>
