{{ define "page-element-tree" }}
    {{ $path := index . "path" }}
    {{ $content := index . "content" }}
    {{ $parentPath := index . "p" }}

    {{ range $content, $elements := $content }}
        <div>
            <small>
                {{ $content }}
            </small>
            <ul>
                {{ range $index, $element := $elements }}
                    {{ $p := fmt "%s%s.%d" $parentPath $content $index }}

                    <li>
                        <details>
                            <summary
                                {{ if $element.Ref }}
                                    class="shifu-page-tree-ref"
                                {{ else if len $element.Content }}
                                    class="shifu-page-tree-container"
                                {{ else }}
                                    class="shifu-page-tree-element"
                                {{ end }}>

                                <span>
                                    {{ if $element.Tpl }}
                                        {{ $element.Tpl }}
                                    {{ else }}
                                        {{ $element.Ref }}
                                    {{ end }}
                                </span>
                                <span>
                                    <img src="{{ config.UI.Path }}/static/icons/edit.svg"
                                         alt=""
                                         title="Bearbeiten"
                                         hx-get="{{ config.UI.Path }}/content/element/edit?path={{ $path }}&element={{ $p }}"
                                         hx-target="body"
                                         hx-swap="beforeend" />

                                    {{ if len $element.Content }}
                                        <img src="{{ config.UI.Path }}/static/icons/add.svg"
                                             alt=""
                                             title="Element hinzufügen"
                                             hx-get="{{ config.UI.Path }}/content/element/add?path={{ $path }}&element={{ $p }}"
                                             hx-target="body"
                                             hx-swap="beforeend" />
                                    {{ end }}

                                    <img src="{{ config.UI.Path }}/static/icons/chevron.svg"
                                         alt=""
                                         title="Nach oben verschieben"
                                         hx-post="{{ config.UI.Path }}/content/element/move?path={{ $path }}&element={{ $p }}&direction=up"
                                         hx-target=".shifu-page-tree"
                                         hx-swap="innerHTML" />
                                    <img src="{{ config.UI.Path }}/static/icons/chevron.svg"
                                         alt=""
                                         title="Nach unten verschieben"
                                         style="transform: rotate(180deg);"
                                         hx-post="{{ config.UI.Path }}/content/element/move?path={{ $path }}&element={{ $p }}&direction=down"
                                         hx-target=".shifu-page-tree"
                                         hx-swap="innerHTML" />
                                    <img src="{{ config.UI.Path }}/static/icons/delete.svg"
                                         alt=""
                                         title="Löschen"
                                         hx-get="{{ config.UI.Path }}/content/element/delete?path={{ $path }}&element={{ $p }}"
                                         hx-target="body"
                                         hx-swap="beforeend" />
                                </span>
                            </summary>

                            {{ if len $element.Content }}
                                {{ template "page-element-tree" dict "path" $path "content" $element.Content "p" (fmt "%s." $p) }}
                            {{ end }}
                        </details>
                    </li>
                {{ end }}
            </ul>
        </div>
    {{ end }}
{{ end }}

<div style="margin-bottom: 8px;">
    {{ template "page-element-tree" dict "path" .Data.Path "content" .Data.Page.Content "p" "" }}
</div>
<button title="Element hinzufügen"
        hx-get="{{ config.UI.Path }}/content/element/add?path={{ .Data.Path }}"
        hx-target="body"
        hx-swap="beforeend">
    <img src="{{ config.UI.Path }}/static/icons/add.svg" alt="" />
    Element hinzufügen
</button>

<script>
    (function(){
        document.querySelectorAll(".shifu-page-tree img").forEach(e => {
            e.addEventListener("click", e => {
                e.preventDefault();
                e.stopPropagation();
            });
        });
    })();
</script>
