{{ $copy := .Data.Copy }}
{{ $data := .Data.Data }}

{{ if and (not .Data.Override) .Data.Element.Ref }}
    <p style="color: var(--highlight);">
        Dies ist eine Referenz. Änderungen überschreiben die Einstellungen nur auf dieser Seite.
    </p>
    <p>
        <button hx-get="{{ config.UI.Path }}/content/element/edit?path={{ .Data.Path }}&element={{ .Data.ElementPath }}&override=true"
                hx-target="body"
                hx-swap="beforeend">
            Original bearbeiten
        </button>
    </p>
{{ end }}

<form method="post"
      hx-post="{{ config.UI.Path }}/content/element/edit?path={{ .Data.Path }}&element={{ .Data.ElementPath }}{{ if .Data.Override }}&override=true{{end}}"
      hx-swap="none"
      hx-target-4*="this"
      hx-on::after-request="shifuCloseWindow('#shifu-page-element-edit{{ if .Data.Override }}-override{{end}}')">
    {{ if len .Data.Config.Copy }}
        {{ $cfg := .Data.Config.Copy }}

        <div class="shifu-tabs">
            <div class="shifu-tabs-header">
                {{ range $index, $lang := .Data.Languages }}
                    <div class="shifu-tabs-header-tab {{ if eq $index 0 }}shifu-tabs-header-tab-active{{ end }}">
                    {{ $lang }}
                </div>
                {{ end }}
            </div>

            {{ range $lang := .Data.Languages }}
                <div class="shifu-tabs-content">
                    <details class="collapsible" open>
                        <summary>Inhalt</summary>

                        {{ range $field, $config := index $cfg }}
                            {{
                                template "page-element-edit-fields.html"
                                dict "field" $field
                                     "cfg" $config
                                     "lang" $lang
                                     "copy" $copy
                            }}
                        {{ end }}
                    </details>
                </div>
            {{ end }}
        </div>
    {{ end }}

    {{ if len .Data.Config.Data }}
        <details class="collapsible">
            <summary>Einstellungen</summary>

            {{ range $field, $cfg := .Data.Config.Data }}
                {{
                    template "page-element-edit-fields.html"
                    dict "field" $field
                         "cfg" $cfg
                         "data" $data
                }}
            {{ end }}
        </details>
    {{ end }}

    <div class="shifu-toolbelt">
        <input type="submit" value="Speichern" />
        <button class="secondary shifu-window-close" hx-trigger="click">
            Abbrechen
        </button>
    </div>
</form>

<script>
    (function() {
        document.querySelectorAll(".shifu-tabs").forEach(element => {
            const tabs = element.querySelectorAll(".shifu-tabs-header-tab");
            const content = element.querySelectorAll(".shifu-tabs-content");
            tabs.forEach((e, index) => {
                e.addEventListener("click", () => {
                    tabs.forEach(e => e.classList.remove("shifu-tabs-header-tab-active"));
                    e.classList.add("shifu-tabs-header-tab-active");
                    content.forEach(e => e.style.display = "none");

                    if (index < content.length) {
                        content[index].style.display = "block";
                    }
                });
            });

            if (content.length) {
                for (let i = 1; i < content.length; i++) {
                    content[i].style.display = "none";
                }
            }
        });
    })();
</script>
