{{ define "page-element-delete-window-title" }}
    <span>{{ i18n .Data.Lang "content_element_delete_window_title" }}</span>
{{ end }}

{{ define "page-element-delete-window-content" }}
    <p>{{ i18n .Data.Lang "content_element_delete_confirm" }}</p>
    <div class="shifu-toolbelt">
        <button hx-delete="{{ config.UI.Path }}/content/element/delete?path={{ .Data.Path }}&element={{ .Data.Element }}&language={{ .Data.Language }}"
                hx-target=".shifu-page-tree"
                data-window="#shifu-page-element-delete">
            {{ i18n .Data.Lang "content_element_delete_submit" }}
        </button>
        <button class="secondary shifu-window-close" hx-trigger="click">
            {{ i18n .Data.Lang "cancel" }}
        </button>
    </div>
{{ end }}

{{ template "window.html" . }}
