{{define "media-window-title"}}
    <img src="{{config.UI.Path}}/static/icons/media.svg" alt="" />
    <span>Medien</span>
{{end}}

{{define "media-window-content"}}
    <div class="shifu-window-content-flex">
        <div class="shifu-media-tree shifu-tree">
            {{template "media-tree.html" .}}
        </div>
        <div class="shifu-media-files">
            <div class="shifu-toolbelt">
                <button hx-get="{{config.UI.Path}}/media/upload"
                        hx-target="body"
                        hx-swap="beforeend">
                    <img src="{{config.UI.Path}}/static/icons/upload.svg" alt="" />
                    Dateien hochladen
                </button>
                <button hx-get="{{config.UI.Path}}/media/delete"
                        hx-target="body"
                        hx-swap="beforeend">
                    <img src="{{config.UI.Path}}/static/icons/delete.svg" alt="" />
                    Dateien löschen
                </button>
            </div>

            {{template "media-files.html" .}}
        </div>
    </div>
{{end}}

{{template "window.html" .}}
