{{ define "media-file-delete-window-title" }}
    <span>Dateien löschen</span>
{{ end }}

{{ define "media-file-delete-window-content" }}
    {{ if eq (len .Data.Name) 1 }}
        <p>Bist du sicher, dass du die Datei "{{ index .Data.Name 0 }}" löschen möchtest?</p>
        <p>Achtung! Beim Löschen können Links kaputtgehen!</p>
    {{ else }}
        <p>Bist du dir sicher, dass du die folgenden Dateien löschen möchtest?</p>
        <p>Achtung! Beim Löschen können Links kaputtgehen!</p>
        <ul>
            {{ range .Data.Name }}
                <li>{{ . }}</li>
            {{ end }}
        </ul>
    {{ end }}

    <div class="shifu-toolbelt">
        <button hx-delete="{{ config.UI.Path }}/media/file/delete?path={{ .Data.Path }}{{ range .Data.Name }}&name[]={{ . }}{{ end }}"
                hx-target=".shifu-media-files"
                hx-on::after-request="shifuCloseWindow('#shifu-media-file-delete')">
            Datei löschen
        </button>
        <button class="secondary shifu-window-close" hx-trigger="click">
            Abbrechen
        </button>
    </div>
{{ end }}

{{ template "window.html" . }}
