{{define "media-tree-directories"}}
    <ul>
        {{range $dir := .}}
            <li>
                <details {{if not (len $dir.Children)}}class="empty"{{end}}>
                    <summary>
                        <span>{{$dir.Name}}</span>
                        <span>
                            <img src="{{config.UI.Path}}/static/icons/edit.svg"
                                 alt=""
                                 title="Bearbeiten"
                                 hx-get="{{config.UI.Path}}/media/directory/edit?path={{$dir.Path}}"
                                 hx-target="body"
                                 hx-swap="beforeend" />
                            <img src="{{config.UI.Path}}/static/icons/add.svg"
                                 alt=""
                                 title="Unterordner hinzufügen"
                                 hx-get="{{config.UI.Path}}/media/directory/add?path={{$dir.Path}}"
                                 hx-target="body"
                                 hx-swap="beforeend" />
                            <img src="{{config.UI.Path}}/static/icons/delete.svg"
                                 alt=""
                                 title="Ordner löschen"
                                 hx-get="{{config.UI.Path}}/media/directory/delete?path={{$dir.Path}}"
                                 hx-target="body"
                                 hx-swap="beforeend" />
                        </span>
                    </summary>

                    {{if len $dir.Children}}
                        {{template "media-tree-directories" $dir.Children}}
                    {{end}}
                </details>
            </li>
        {{end}}
    </ul>
{{end}}

<div style="margin-bottom: 8px;">
    {{template "media-tree-directories" .Data.Directories}}
</div>
<button title="Ordner anlegen"
        hx-get="{{config.UI.Path}}/media/directory/add"
        hx-target="body"
        hx-swap="beforeend">
    <img src="{{config.UI.Path}}/static/icons/add.svg" alt="" />
    Ordner anlegen
</button>
