<form method="post"
      hx-post="{{ config.UI.Path }}/media/directory/edit?path={{ .Data.Path }}"
      hx-swap="outerHTML"
      hx-target=".shifu-media-tree"
      hx-target-4*="this"
      hx-on::after-request="shifuCloseWindow('#shifu-media-directory-edit')">
    <fieldset>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="{{ .Data.Name }}" autofocus />

        {{ if index .Data.Errors "name" }}
            <span class="error">{{ index .Data.Errors "name" }}</span>
        {{ end }}
    </fieldset>
    <div class="shifu-toolbelt">
        <input type="submit" value="Speichern" />
        <button class="secondary shifu-window-close" hx-trigger="click">
            Abbrechen
        </button>
    </div>
</form>
