{{define "media-file-move-window-title"}}
    <span>Dateien verschieben</span>
{{end}}

{{define "media-file-move-window-content"}}
    {{if eq (len .Data.Name) 1}}
        <p>Wähle den Zielordner, um die Datei "{{index .Data.Name 0}}" zu verschieben.</p>
        <p>Achtung! Beim Verschieben können Links kaputtgehen!</p>
    {{else}}
        <p>Wähle den Zielordner, um die folgenden Dateien zu verschieben.</p>
        <p>Achtung! Beim Verschieben können Links kaputtgehen!</p>
        <ul>
            {{range .Data.Name}}
                <li>{{.}}</li>
            {{end}}
        </ul>
    {{end}}

    {{template "media-file-move-form.html" .}}
{{end}}

{{template "window.html" .}}
