{{ define "media-directory-delete-window-title" }}
    <span>Ordner löschen</span>
{{ end }}

{{ define "media-directory-delete-window-content" }}
    <p>Bist du sicher, dass du den Ordner "{{ .Data.Directory }}" löschen möchtest?</p>
    <div class="shifu-toolbelt">
        <button hx-delete="{{ config.UI.Path }}/media/directory/delete?path={{ .Data.Path }}"
                hx-target=".shifu-media-tree"
                hx-on::after-request="shifuCloseWindow('#shifu-media-directory-delete')">
            Ordner löschen
        </button>
        <button class="secondary shifu-window-close" hx-trigger="click">
            Abbrechen
        </button>
    </div>
{{ end }}

{{ template "window.html" . }}
