<form method="post"
      enctype="multipart/form-data"
      hx-post="{{ config.UI.Path }}/media/file/upload?path={{ .Data.Path }}"
      hx-swap="outerHTML"
      hx-target=".shifu-media-files"
      hx-target-4*="this"
      data-window="#shifu-media-file-upload">
    <fieldset>
        <label for="files">{{ i18n .Data.Lang "media_upload_file_files" }}</label>
        <input type="file" name="files" id="files" multiple />

        {{ if index .Data.Errors "files" }}
            <span class="error">{{ i18n .Data.Lang (index .Data.Errors "files") }}</span>
        {{ end }}

        {{ if len .Data.ExistingFiles }}
            <p>{{ i18n .Data.Lang "media_upload_file_existing_files" }}</p>
            <ul>
                {{ range $filename := .Data.ExistingFiles }}
                    <li>{{ $filename }}</li>
                {{ end }}
            </ul>
        {{ end }}
    </fieldset>
    <fieldset>
        <label for="overwrite">{{ i18n .Data.Lang "media_upload_file_overwrite" }}</label>
        <input type="checkbox" name="overwrite" id="overwrite" {{ if .Data.Overwrite }}checked{{ end }} />
    </fieldset>
    <div class="shifu-toolbelt">
        <input type="submit" value="{{ i18n .Data.Lang "media_upload_file_submit" }}" />
        <button class="secondary shifu-window-close" hx-trigger="click">
            {{ i18n .Data.Lang "cancel" }}
        </button>
    </div>
</form>
