{{define "pages-page-delete-window-title"}}
    <span>Seite löschen</span>
{{end}}

{{define "pages-page-delete-window-content"}}
    <p>Bist du sicher, dass du die Seite "{{.Data.Page}}" löschen möchtest?</p>
    <div class="shifu-toolbelt">
        <button class="secondary shifu-window-close" hx-trigger="click">
            Abbrechen
        </button>
        <button hx-delete="{{config.UI.Path}}/pages/page/delete?path={{.Data.Path}}"
                hx-target=".shifu-pages-tree"
                hx-on::after-request="shifuCloseWindow('#shifu-pages-page-delete')">
            Seite löschen
        </button>
    </div>
{{end}}

{{template "window.html" .}}
