{{ define "pages-directory-delete-window-title" }}
    <span>{{ i18n .Data.Lang "pages_delete_directory_window_title" }}</span>
{{ end }}

{{ define "pages-directory-delete-window-content" }}
    <p>{{ fmt (i18n .Data.Lang "pages_delete_directory_confirm") .Data.Directory }}</p>
    <div class="shifu-toolbelt">
        <button hx-delete="{{ config.UI.Path }}/pages/directory/delete?path={{ .Data.Path }}"
                hx-target=".shifu-pages-tree"
                data-window="#shifu-pages-directory-delete">
            {{ i18n .Data.Lang "pages_delete_directory_submit" }}
        </button>
        <button class="secondary shifu-window-close" hx-trigger="click">
            {{ i18n .Data.Lang "cancel" }}
        </button>
    </div>
{{ end }}

{{ template "window.html" . }}
