{{ define "pages-tree-entries" }}
    <ul>
        {{ range $entry := index . "entries" }}
            <li>
                {{ if $entry.IsDir }}
                    <details {{ if not (len $entry.Children) }}class="empty"{{ end }}>
                        <summary>
                            <span class="shifu-pages-entry-name" data-path="{{ $entry.Path }}">
                                {{ $entry.Name }}
                            </span>
                            <span>
                                <img src="{{ config.UI.Path }}/static/icons/edit.svg"
                                     alt=""
                                     title="Bearbeiten"
                                     hx-get="{{ config.UI.Path }}/pages/directory/edit?path={{ $entry.Path }}"
                                     hx-target="body"
                                     hx-swap="beforeend" />
                                <img src="{{ config.UI.Path }}/static/icons/add.svg"
                                     alt=""
                                     title="Unterordner hinzufügen"
                                     hx-get="{{ config.UI.Path }}/pages/directory/add?path={{ $entry.Path }}"
                                     hx-target="body"
                                     hx-swap="beforeend" />
                                <img src="{{ config.UI.Path }}/static/icons/delete.svg"
                                     alt=""
                                     title="Ordner löschen"
                                     hx-get="{{ config.UI.Path }}/pages/directory/delete?path={{ $entry.Path }}"
                                     hx-target="body"
                                     hx-swap="beforeend" />
                            </span>
                        </summary>

                        {{ if len $entry.Children }}
                            {{ template "pages-tree-entries" dict "entries" $entry.Children }}
                        {{ end }}
                    </details>
                {{ else }}
                    <details class="file">
                        <summary>
                            <span class="shifu-pages-entry-name"
                                  data-path="{{ $entry.Path }}"
                                  hx-get="{{ config.UI.Path }}/pages/page?path={{ $entry.Path }}"
                                  hx-target=".shifu-pages-page">
                                        {{ $entry.Name }}
                                    </span>
                            <span>
                                <img src="{{ config.UI.Path }}/static/icons/delete.svg"
                                     alt=""
                                     title="Seite löschen"
                                     hx-get="{{ config.UI.Path }}/pages/page/delete?path={{ $entry.Path }}"
                                     hx-target="body"
                                     hx-swap="beforeend" />
                            </span>
                        </summary>
                    </details>
                {{ end }}
            </li>
        {{ end }}
    </ul>
{{ end }}

<div style="margin-bottom: 8px;">
    {{ template "pages-tree-entries" dict "entries" .Data.Entries }}
</div>
<input type="hidden" name="path" value="" id="shifu-pages-entry-selection-path" />
<div style="display: inline-flex;gap: 4px;flex-direction: column">
    <button title="Ordner anlegen"
            hx-get="{{ config.UI.Path }}/pages/directory/add"
            hx-target="body"
            hx-swap="beforeend">
        <img src="{{ config.UI.Path }}/static/icons/add.svg" alt="" />
        Ordner anlegen
    </button>
    <button title="Seite anlegen"
            hx-get="{{ config.UI.Path }}/pages/page/save"
            hx-include="#shifu-pages-entry-selection-path"
            hx-target="body"
            hx-swap="beforeend">
        <img src="{{ config.UI.Path }}/static/icons/add.svg" alt="" />
        Seite anlegen
    </button>
</div>

<script>
    (function(){
        const input = document.getElementById("shifu-pages-entry-selection-path");
        document.querySelectorAll(".shifu-pages-entry-name").forEach(e => {
            e.addEventListener("click", e => {
                e.preventDefault();
                e.stopPropagation();
                document.querySelectorAll(".shifu-pages-entry-name").forEach(e => {
                    e.classList.remove("shifu-pages-entry-selected");
                });
                e.target.classList.add("shifu-pages-entry-selected");

                if (input) {
                    input.value = e.target.getAttribute("data-path");
                }
            });
        });
    })();
</script>
