<form method="post"
      hx-post="{{ config.UI.Path }}/pages/directory/add?path={{ .Data.Path }}"
      hx-swap="outerHTML"
      hx-target=".shifu-pages-tree"
      hx-target-4*="this"
      data-window="#shifu-pages-directory-create">
    <fieldset>
        <label for="name">{{ i18n .Data.Lang "pages_create_directory_name" }}</label>
        <input type="text" name="name" id="name" value="{{ .Data.Name }}" autofocus />

        {{ if index .Data.Errors "name" }}
            <span class="error">{{ i18n .Data.Lang (index .Data.Errors "name") }}</span>
        {{ end }}
    </fieldset>
    <div class="shifu-toolbelt">
        <input type="submit" value="{{ i18n .Data.Lang "pages_create_directory_submit" }}" />
        <button class="secondary shifu-window-close" hx-trigger="click">
            {{ i18n .Data.Lang "cancel" }}
        </button>
    </div>
</form>
