{{define "user-window-title"}}
    <img src="{{config.UI.Path}}/static/icons/user.svg" alt="" />
    <span>Nutzerverwaltung</span>
{{end}}

{{define "user-window-content"}}
    {{if .Data.Admin}}
        <div class="shifu-toolbelt">
            <button hx-get="{{config.UI.Path}}/user/edit"
                    hx-target="body"
                    hx-swap="beforeend">
                <img src="{{config.UI.Path}}/static/icons/add.svg" alt="" />
                Benutzer anlegen
            </button>
        </div>
    {{end}}

    {{template "user-list.html" .}}
{{end}}

{{template "window.html" .}}
