{{ define "user-delete-window-title" }}
    <span>{{ i18n .Data.Lang "user_delete_window_title" }}</span>
{{ end }}

{{ define "user-delete-window-content" }}
    <p>{{ fmt (i18n .Data.Lang "user_delete_confirm") .Data.User.Email }}</p>
    <div class="shifu-toolbelt">
        <button hx-delete="{{ config.UI.Path }}/user/delete?id={{ .Data.User.ID }}"
                hx-target="#shifu-user table"
                data-window="#shifu-user-delete">
            {{ i18n .Data.Lang "user_delete_submit" }}
        </button>
        <button class="secondary shifu-window-close" hx-trigger="click">
            {{ i18n .Data.Lang "cancel" }}
        </button>
    </div>
{{ end }}

{{ template "window.html" . }}
