<div id="shifu-toolbar" class="shifu shifu-window shifu-toolbar">
    <div class="shifu-window-title">CMS</div>
    <div class="shifu-window-content shifu-toolbar-icons">
        <a hx-get="{{config.UI.Path}}/edit"
           title="Seite bearbeiten"
           hx-target="body"
           hx-swap="beforeend"
           data-window="shifu-edit">
            <img src="{{config.UI.Path}}/static/icons/edit.svg" alt="Edit" />
        </a>
        <a hx-get="{{config.UI.Path}}/pages"
           title="Seiten"
           hx-target="body"
           hx-swap="beforeend"
           data-window="shifu-pages">
            <img src="{{config.UI.Path}}/static/icons/page.svg" alt="Pages" />
        </a>
        <a hx-get="{{config.UI.Path}}/media"
           title="Medien"
           hx-target="body"
           hx-swap="beforeend"
           data-window="shifu-media">
            <img src="{{config.UI.Path}}/static/icons/media.svg" alt="Media" />
        </a>
        <a hx-get="{{config.UI.Path}}/database"
           title="Datenbank"
           hx-target="body"
           hx-swap="beforeend"
           data-window="shifu-database">
            <img src="{{config.UI.Path}}/static/icons/db.svg" alt="Database" />
        </a>
        <a hx-get="{{config.UI.Path}}/user"
           title="Nutzerverwaltung"
           hx-target="body"
           hx-swap="beforeend"
           data-window="shifu-user">
            <img src="{{config.UI.Path}}/static/icons/user.svg" alt="User" />
        </a>
        <a href="{{config.UI.Path}}/logout" title="Abmelden">
            <img src="{{config.UI.Path}}/static/icons/signout.svg" alt="Sign out" />
        </a>
    </div>
</div>
