{{define "user-window-title"}}
    <img src="{{config.UI.Path}}/static/icons/user.svg" alt="" />
    <span>Nutzerverwaltung</span>
{{end}}

{{define "user-window-content"}}
    <div>
        <button>Benutzer anlegen</button>
    </div>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Email</td>
                <td>Name</td>
                <td>Bearbeiten</td>
            </tr>
        </thead>
        <tbody>
            {{range $user := .Data.User}}
                <tr>
                    <td>{{$user.ID}}</td>
                    <td>{{$user.Email}}</td>
                    <td>{{$user.FullName}}</td>
                    <td>
                        TODO
                    </td>
                </tr>
            {{end}}
        </tbody>
    </table>
{{end}}

{{template "window.html" .}}
