{{ if .Data.WindowOptions.Overlay }}
    <div class="shifu-window-overlay">
{{ end }}

<div id="{{ .Data.WindowOptions.ID }}"
     class="shifu shifu-window"
     {{ if .Data.WindowOptions.MinWidth }}style="min-width: {{ .Data.WindowOptions.MinWidth }}px;"{{ end }}
     hx-ext="response-targets">
    <div class="shifu-window-title">
        <div class="shifu-window-title-label">
            {{ .Tpl.Render .Data.WindowOptions.TitleTpl . }}
        </div>
        <div class="shifu-window-close shifu-window-title-close"
             title="{{ i18n .Data.WindowOptions.Lang "close_window" }}"
             hx-trigger="click">
            <img src="{{ config.UI.Path }}/static/icons/close.svg" alt="{{ i18n .Data.WindowOptions.Lang "close_window" }}" />
        </div>
    </div>
    <div class="shifu-window-content">
        {{ .Tpl.Render .Data.WindowOptions.ContentTpl . }}
    </div>
</div>

{{ if .Data.WindowOptions.Overlay }}
    </div>
{{ end }}

<script>
    (function() {
        let maxIndex = 0;

        document.querySelectorAll(".shifu-window").forEach(e => {
            if (e.style.zIndex > maxIndex) {
                maxIndex = e.style.zIndex;
            }
        });

        const windows = document.querySelectorAll(".shifu-window");
        const window = windows[windows.length - 1];
        window.style.zIndex = maxIndex + 1;
    })();
</script>
