{{ $headline := copy .Page .Content "headline" }}
{{ $size := get .Content "headline_size" }}
{{ $n := index .Args "n" }}

<section>
    <article>
        {{ if $headline }}
            {{ if $size }}
                {{ html (fmt "<%s>" $size) }}
                {{ $headline }}
                {{ html (fmt "</%s>" $size) }}
            {{ else }}
                <h1>{{ $headline }}</h1>
            {{ end }}
        {{ end }}
        {{ html (copy .Page .Content "text") }}

        {{ if (get .Content "hr_bottom") }}
            <hr />
        {{ end }}
    </article>
</section>

{{ if $n }}
    <section>
        <p>Arg: {{ $n }}</p>
    </section>
{{ end }}
